:root{
    --primary: #000;
    --secondary: #fff;
    --variant-primary: #3cff00;
    --variant-secondary: #4df6ff;
    --variant2-primary: #808080; 
    --variant2-secondary: #f0ffff;
    --my-font: 'Times New Roman', Times, serif;

}
* {
    background-color: var(--primary);
    color: var(--secondary);  
}
/* headers*/
header {
    /*sticky position isn't working for some reason*/
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: solid var(--primary);
    align-items: flex-end;
    background-color: var(--variant2-primary);
    padding-bottom: .5rem;
}
header *{
    background-color: var(--variant2-primary);
    Color: var(--secondary);
    padding: .25rem;
    margin: .25rem;
    position: sticky;
    position: -webkit-sticky;
}
header h1{
    font-family: var(--my-font);
    font-weight: bold;
    font-size: 1.5rem;
    
}
main section {
    display: flex;
}
/* image banner with name hovers */
main #banner{
    justify-content: space-around;
    height: 300px;
    align-items: end;
    justify-content: end;
    background-image: url(../images/cambodia.jpeg);
    background-size:cover;
    position: relative;
}

.hover {
    display: inline-block;
    flex-wrap: wrap;
    font-size: 2rem;
    padding: .5rem 0 .5rem 0;
}
.left-hover{
    padding-left: .5rem;
}
.right-hover{
    padding-right:.5rem;
}
.hover:hover:nth-child(even) {
    color:var(--variant-secondary);
    font-style: oblique;
}
.hover:hover:nth-child(odd) {
    color:var(--variant-primary);
    font-style: oblique;
}
.space1{
    padding-right: .5rem;
}

body main div div {

}
body main div div *{
    
}




/* subcatagories titles */
main section a{
    font-weight: bold;
    font-size: 1.25rem;
}
main section div, main section ul, main section form{
    margin: 1rem;
}
.section-title{
    border-right: solid var(--secondary) 2px;
    padding-right:1rem;
    width: 7rem;
}

/* projects section */

main #my-projects .project-list{
    display: flex;
   flex-wrap: wrap;
    justify-content: space-around;
}
main #my-projects .project-list section{
    display:flex;
    flex-direction: column;
}

/* my life section */
 #my-life .my-life-section{
    display: flex;
}
.avatar {
    height: 200px;
    width: 200px;
}

footer{
    background-color:var(--variant2-primary);
    display:flex;
    justify-content: center;
}

footer *{
    background-color: var(--variant2-primary);
}
@media only screen and (max-width: 768px){

     header {
       
    }
    header *{
  
    }
    header h1{
       
    }
    header nav{
       
    }
    img{
       
    }
}
@media only screen and (max-width: 640px){
    header {
        
    }
    header *{
       
    }
    header h1{
       
        
    }
    header nav :{
        /* display: none; */
        flex-direction: column;
    }
    /* banner */
    /* subtitle on banner */
    .hover {
        font-size: 1.5rem;
    }
    img{
       max-height: 200px;
       max-width: 200px;
    }
    /* my life section */
    #my-life .my-life-section{
        flex-direction: column;
    }
}