:root{
    --primary: #000;
    --secondary: #fff;
    --variant-primary: #3cff00;
    --variant-secondary: #4df6ff;
    --variant2-primary: #808080; 
    --variant2-secondary: #f0ffff;
    --my-font: 'Times New Roman', Times, serif;

}
* {
    background-color: var(--secondary);
    color: var(--primary);
  
}
header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid var(--primary);
    align-items: flex-end;
    background-color: var(--variant2-primary);
    padding: .5rem;
    margin-bottom: .5rem;
    position: sticky;
}
header nav a{
    padding: .25rem;
    margin: .25rem;
}
header *{
    background-color: var(--variant2-primary);
    Color: var(--secondary);

}
header h1{
    font-family: var(--my-font);
    font-weight: bold;
    font-size: 1.5rem;
    margin: .25rem;
}

header nav{
    margin: .25rem;
}
.hover {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 2rem;
}

.hover:hover:nth-child(even) {
    color:var(--variant-secondary);
    font-style: oblique;
}
.hover:hover:nth-child(odd) {
    color:var(--variant-primary);
    font-style: oblique;
}

@media screen and (min-width: 768px){
    
}