:root{
    --primary: #000;
    --secondary: #fff;
    --variant-primary: #3cff00;
    --variant-secondary: #4df6ff;
    --variant2-primary: #808080; 
    --variant2-secondary: #f0ffff;
    --my-font: 'Times New Roman', Times, serif;

}
* {
    background-color: var(--primary);
    color: var(--secondary);  
}
/* headers*/
header {
    /*sticky position isn't working for some reason*/
    position: sticky;
    position: -webkit-sticky;
    display: flex;
    justify-content: space-between;
    border-bottom: solid var(--primary);
    align-items: flex-end;
    background-color: var(--variant2-primary);
    padding-bottom: .5rem;
    margin-bottom: .5rem;

}
header *{
    background-color: var(--variant2-primary);
    Color: var(--secondary);
    padding: .25rem;
    margin: .25rem;
    position: sticky;
    position: -webkit-sticky;
}
header h1{
    font-family: var(--my-font);
    font-weight: bold;
    font-size: 1.5rem;
    
}
main section {
    display: flex;
}
/* image banner with name hovers */
main #banner{
    justify-content: space-around;
    height: ;
}
.hover {
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 2rem;
}
.hover:hover:nth-child(even) {
    color:var(--variant-secondary);
    font-style: oblique;
}
.hover:hover:nth-child(odd) {
    color:var(--variant-primary);
    font-style: oblique;
}
.hover #space1{
    padding-right: 2rem;
}
/* subcatagories titles */
main section a{
    font-weight: bold;
    font-size: 1.25rem;
}
main section div, main section ul, main section form{
    margin: 1.5rem;
}

/* projects section */
main #my-projects section{
    display:flex;
    flex-direction: column;
}
/* my life section */
main #my-life{
    justify-content: space-between;
}
main #my-life div{
    display:flex;
    flex-wrap: wrap;
    width: 400px
}

@media screen and (min-width: 768px){
    
}